---
// Component Imports
import {Counter} from '../components/Counter';
const someProps = {
	count: 0,
};

const apiUrl = 'https://ryusou-mtkh.microcms.io/api/v1/tags'
const headers = {
  headers: { 'X-MICROCMS-API-KEY': import.meta.env.X_MICROXMS_API_KEY },
};
const response = await fetch(apiUrl, headers);
const data = await response.json();

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<style>
			html,
			body {
				font-family: system-ui;
				margin: 0;
			}
			body {
				padding: 2rem;
			}
		</style>
	</head>
	<body>
		<main>
			<Counter {...someProps} client:visible>
				<h1>{console.log(data.contents)}</h1>
			</Counter>
		</main>
	</body>
</html>
